/*. is for classes while # is for id*/
*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: normal;
}
body{
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to left, hsla(50, 100%, 50%, 1.0), hsla(270, 100%, 50%, 1));
}
.container{
    display: grid;
    align-items: center;
}
button{
    padding: 10px;
    color: black;
    background-color: blue;
    margin: auto;
}
#header-el{
    color: hsla(230, 100%, 50%, 1.0);
}
#input-el{
    font-weight: bold;
    font-size: large;
}